body{
    min-height: 3000px;
}
.footer {
    height: 60vh;
    width: 97%;
    margin: 15px;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.section {
    background-color: blue;
    position: absolute;
    left: 20px;
    bottom: 30px;
    height: 30vh;
    width: 15%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main {
    background-color: blue;
    position: absolute;
    color: white;
    right: 45%;
    bottom: 3%;
    height: 30vh;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.article{
    background-color: blue;
    position: absolute;
    bottom: 30px;
    margin: 0;
    width: 15%;
    right: 35px;
    height: 30vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.wrapped {
    height: 80vh;
    width: 97%;
    margin-top: 43%;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightskyblue;
    color: white;
    font-size: 20px;
}