body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #f5f5f5;
    text-align: center;
}
h1 {
    color: #ffd700;
}
.actor {
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #444;
    border-radius: 10px;
    width: 300px;
    background-color: #222;
}
img {
    width: 100%;
    border-radius: 10px;
}
p{
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #ffd700;
}
