*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 132px;
}
.box{
    width: 319px;
    height: 492px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
}
.card{
    width: 319px;
    height: 492px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid #65856E;
    background: rgba(217, 217, 217, 0.30);
}
.title-box{
    position: absolute;
    padding: 175px 101px 269px 99px;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text{
    position: absolute;
    padding: 227px 54px 193px 54px;
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 211px;
}
.circle{
    position: relative;
    top: -215px;
}
.game-consol{
    position: relative;
    top: -295px;
}
.circle2{
    position: relative;
    top: -215px;
}
.chess-board{
    position: relative;
    top: -295px;
}
.circle3{
    position: relative;
    top: -215px;
}
.battle{
    position: relative;
    top: -295px;
}