*{
    margin: 0;
}
.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80% 20%;
    grid-template-rows: 5% 60% 20%;
    grid-template-areas:
        "header header"
        "left-main higher-aside"
        "right-main higher-aside"
        "right-main lower-aside"
        "footer footer";
}
.header{
    grid-area: header;
    background: #D9D9D9;
}
.left-main{
    padding-right: 71vh;
    height: 90vh;
    grid-area: left-main;
    background: #A4A4A4;
}
.right-main{
    margin-top: -60vh;
    padding-right: 81vh;
    position: relative;
    left: 70.2vh;
    grid-area: right-main;
    background: #C1C1C1;
}
.higher-aside{
    height: 45vh;
    margin-left: 80vh;
    grid-area: higher-aside;
    background: #7F7A7A;
}
.lower-aside{
    margin-top: -35vh;
    margin-left: 80vh;
    grid-area: lower-aside;
    background: #6B6161;
}
.footer{
    grid-area: footer;
    background: #D9D9D9;
}