body {
    font-family: inherit;
    padding: 10px;
}
p {
    margin: 10px ;
}
.card {
    width: 50px;
    height: 40px;
    background: #eee;
    border-radius: 6px;
    color: black;
    font-size: 30px;
}
.red {
    color: red;
    font-size: 30px;
    margin-bottom: 30px;
}
