.wrapped{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}
.diamond{
    width: 200px;
    height: 200px;
    background-color: yellow;
    transform: rotate(45deg);
    animation: lorem 7s linear infinite alternate;
}
@keyframes lorem {
    from {
        transform: rotate(45deg);
    }
    40%{
        transform: scaleX(2.0);
        background: chartreuse;
    }
    50%{
        transform: rotate(-45deg);
        background: red;
    }
    60%{
        transform: scaleY(2.0);
        background: orange;
    }
    to{
        border-radius: 50%;
        transform: rotate(-45deg);
    }
}